[project]
	description = ":penguin: A source files for the Penguin site  http://penguin.docs.bqws.io"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Javier López (habichu)
[access "refs/for/refs/*"]
	read = group user/Javier López (habichu)
	push = group user/Javier López (habichu)
	label-Code-Review = -2..+2 group user/Javier López (habichu)
	label-Verified = -1..+1 group user/Javier López (habichu)
	rebase = group user/Javier López (habichu)
	removeReviewer = group user/Javier López (habichu)
	submit = group user/Javier López (habichu)
[access "refs/heads/*"]
	read = group user/Javier López (habichu)
	create = group user/Javier López (habichu)
	push = +force group user/Javier López (habichu)
	pushMerge = group user/Javier López (habichu)
[access "refs/tags/*"]
	push = +force group user/Javier López (habichu)
	pushTag = group user/Javier López (habichu)
	pushSignedTag = group user/Javier López (habichu)
